*.py[cod]
*.html
*.png
_version.py

*.egg-info
.eggs/*
__pycache__/*
dist/*

.coverage
.coverage.*
htmlcov/*

doc/build/*

.idea/*
.vscode/

**/.ipynb_checkpoints
*~*

.venv/

backtesting/test/BTCUSDT-*.csv
backtesting/test/ETHUSDT-*.csv
backtesting/test/SOLUSDT-*.csv

**/.DS_Store

# Distribution
build/